<table>
    <th></th>
    <caption></caption>
    <tr>
        <td class="image">
            <img src="" alt="icon">
        </td>
        <td class="info">
            <form action="">
                <div class="A1">
                    <div class="title">
                        <h2>A1</h2>
                    </div>
                    <div class="data">
                        <div class="media">
                            <h3>Media</h3>

                            <label for="media1">Data1</label>
                            <input type="checkbox" name="media1">

                            <label for="media2">Data2</label>
                            <input type="checkbox" name="media2">
                        </div>
                        <div class="stddev">
                            <h3>Stddev</h3>

                            <label for="stddev1">Data1</label>
                            <input type="checkbox" name="stddev1">

                            <label for="stddev2">Data2</label>
                            <input type="checkbox" name="stddev2">
                        </div>
                    </div>
                </div>
                <div class="A3">
                    <div class="title">
                        <h2>A3</h2>
                    </div>
                    <div class="data">
                        <div class="linearRegression">
                            <h3>Linear regression</h3>

                            <label for="linearRegression1">Data1</label>
                            <input type="checkbox" name="linearRegression1">

                            <label for="linearRegression2">Data2</label>
                            <input type="checkbox" name="linearRegression2">

                            <label for="linearRegression3">Data3</label>
                            <input type="checkbox" name="linearRegression3">

                            <label for="linearRegression4">Data4</label>
                            <input type="checkbox" name="linearRegression4">
                        </div>
                        <div class="correlation">
                            <h3 class="correlation">Correlation</h3>

                            <label for="correlation1">Data1</label>
                            <input type="checkbox" name="correlation1">

                            <label for="correlation2">Data2</label>
                            <input type="checkbox" name="correlation2">

                            <label for="correlation3">Data3</label>
                            <input type="checkbox" name="correlation3">

                            <label for="correlation4">Data4</label>
                            <input type="checkbox" name="correlation4">
                        </div>
                    </div>
                </div>
                <div class="A5">
                    <div class="title">
                        <h2>A5</h2>
                    </div>
                    <div class="data">
                        <div class="simpson">
                            <div class="activate">
                                <h3 class="simpson">Simpson</h3>
                                <input type="checkbox" name="simpsonFunction">
                            </div>

                            <label for="simpsonx0" class="x0">x0</label>
                            <input type="text" name="simpsonx0">

                            <label for="simpsonNumSeg">Num_seg</label>
                            <input type="text" name="simpsonNumSeg"><br>

                            <label for="simpsonx1" class="x1">x1</label>
                            <input type="text" name="simpsonx1">
                            
                            <label for="simpsonError" class="error">ERROR</label>
                            <input type="text" name="simpsonError"><br><br>

                            <label for="simpsonFx">F(x)</label>

                            <input type="radio" name="simpsonFx" value="2x"><span>2x</span>
                            <input type="radio" name="simpsonFx" value="x2"><span>2^x</span>
                            <input type="radio" name="simpsonFx" value="1_x"><span>1/x</span>
                        </div>
                        <div class="tStudent">
                            <div class="activate">
                                <h3 class="tStudent">T-student</h3>
                                <input type="checkbox" name="tStudentFunction">
                            </div>

                            <label for="tStudentx0" class="x0">x0</label>
                            <input type="text" name="tStudentx0">

                            <label for="tStudentNumSeg">Num_seg</label>
                            <input type="text" name="tStudentNumSeg"><br>

                            <label for="tStudentx1" class="x1">x1</label>
                            <input type="text" name="tStudentx1">
                            
                            <label for="tStudentError" class="error">ERROR</label>
                            <input type="text" name="tStudentError"><br>

                            <label for="tStudentDof">dof</label>
                            <input type="text" name="tStudentDof">
                        </div>
                    </div>
                </div>
            </form>
        </td>
    </tr>
</table>
